**/__pycache__/
.DS_Store
._.DS_Store
/sbatch_out/
/os_walk_test.py
src/macenko_normalize_folder.py
src/macenko_normalize_folder_my_algo.py
src/extract_patches_w_macenko.py
src/make_pickles_csv.py
src/make_scc_csv.py
/csvs/
bash_scripts/extract_patches_local.sh
bash_scripts/extract_patches_macenko.sh
bash_scripts/extract_patches.sh
bash_scripts/normalize_local.sh
bash_scripts/normalize.sh
bash_scripts/wsi_preproc_pipeline_.sh